<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Online Chat</title>
</head>
<style>
    body {
        width: 100%;
        height: 100%;
    }

    .container {
        width: 100vw;
        height: 100vh;
        background-color: #28527a;
    }
</style>
<script>
    const user = "<%= user %>";

    const userObject = JSON.parse(user.replace(/&#34;/gi, "\""));

</script>

<body>
    <div class="container flex">
        <div class="box_wrap">

            <% if(user) { %>
                <a id="login" class="contents_box flex">
                    <span>방 생성</span>
                </a>
                <a id="login" class="contents_box flex">
                    <span>방 참여</span>
                </a>
                <% }else{ %>
                    <a id="login" class="contents_box flex" href="/auth/google">

                        <span>구글 로그인</span>
                    </a>

                    <% } %>
        </div>
    </div>
</body>

</html>