<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            width: 100%;
            height: 100%;
        }

        .container {
            width: 100vw;
            height: 100vh;
            background-color: white;
        }
    </style>
    <link rel="stylesheet" href="../stylesheets/global.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/modal.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"
        integrity="sha512-YybopSVjZU0fe8TY4YDuQbP5bhwpGBE/T6eBUEZ0usM72IWBfWrgVI13qfX4V2A/W7Hdqnm7PIOYOwP9YHnICw=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
        const roomCode = "<%= roomCode %>";
    </script>
    <title>Online Chat</title>
</head>

<body>
    <div class=" container flex">
        <% if(locals.owner && locals.user && JSON.stringify(owner) !=JSON.stringify(user)){ %>
            <div class="modal_wrap flex visible">
                <div class="mask"></div>
                <div class="modal_contents">
                    <div class="modal_contents_wrap">
                        <div class="modal_title">
                            <span class="string">비밀번호를 입력 해 주세요.</span>
                        </div>
                        <div id="room_OK" class="active_form active">
                            <div class="form_wrap flex">
                                <div class="textbox">
                                    <label class="textbox_label" for="password">비밀번호</label>
                                    <input type="password" name="password" class="password">
                                </div>

                                <div class="btn_wrap">
                                    <button id="action_OK" class="btn action_btn" disabled="true">
                                        <span>참여하기</span>
                                    </button>
                                    <button id="close" class="btn">
                                        <span>닫기</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                <div class="videos_wrap">

                </div>
    </div>
</body>
<script src="../javascripts/types.js"></script>
<script src="../javascripts/chaton.js"></script>
<script src="../javascripts/actions.js"></script>
<script src="../javascripts/ui_events.js"></script>

</html>