.box_wrap{
    display : flex;
    flex-direction : row;
    justify-content : space-around;
}


.contents_box{
    background-color : white;
    width : 300px;
    height : 300px;
    border-radius: 20px;
    box-shadow : 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border : white;
    cursor : pointer;
    flex : 1;
}

.contents_box:nth-of-type(2){
    margin-left : 100px;
}

.contents_box span {
    font-size : 24px;
    font-weight: 600;
    pointer-events: none;
}
